<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title>Spring Security Login </title>
</head>
<body style="text-align: center;">
<div style="margin: 150px auto 0;">
  <div th:if="${login_error}">
    <span th:text="${login_error}"></span>
  </div>
  <div th:if="${param.logout}">
    You have been logged out.
  </div>

  <form th:action="@{login}" method="post" id="loginForm">
    <div>
      用户名：<input type="text" name="username" class="username" id="username" placeholder="用户名" autocomplete="off" value="admin"/> <br>
      密　码：<input type="password" name="password" class="password" id="password" value="admin" placeholder="密码"
                 oncontextmenu="return false"
                 onpaste="return false"/> <br>
      <input type="checkbox" name="remember-me"/>记住我 <br>
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
      <input id="submit" type="submit" value="登录"/>
    </div>
   &nbsp;
    <div>
      第三方登录 :
    </div>

    <div>
      With Facebook: <a href="login/facebook">click here</a>
    </div>
    <div>
      With Github: <a href="login/github">click here</a>
    </div>


  </form>
</div>
</body>
</html>